<form [formGroup]="form" class="form-container">
  <div
    [style]="config.styles"
    [style.flex-direction]="isHorizontal ? 'row' : 'column'"
  >
    @if (config.title) {
      <h4>
        {{ config.title }}
      </h4>
    }
    @for (element of config.elements; track element.id) {
      @switch (element.type) {
        @case ("input") {
          <app-dynamic-input
            [config]="getInputConfig(element)"
            [formControlName]="element.id"
          ></app-dynamic-input>
        }
        @case ("button") {
          <app-dynamic-button
            [config]="getButtonConfig(element)"
            (event)="handleAction(element)"
          >
          </app-dynamic-button>
        }
        @case ("text") {
          <app-dynamic-text [config]="getTextConfig(element)" />
        }
      }
    }
  </div>
</form>
